# ========================================
# Node.js
# ========================================
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# ========================================
# Builds
# ========================================
dist/
build/

# ========================================
# dotenv env files
# ========================================
.env
.env.*
!.env.example

# ========================================
# Logs
# ========================================
logs/
*.log
*.out
*.err

# ========================================
# System files
# ========================================
.DS_Store
Thumbs.db

# ========================================
# Editor config
# ========================================
.vscode/
.idea/

# ========================================
# Docker local volumes (si usas bind mounts)
**/_data/
